
.logo{   
    width: 50%;
    height:100%;
    display: flex;
}

.logo img{
    right: 130px;
    object-fit: cover;
   }

   #menu{
    height: 70px;
  }

  
.link_menu  {
    height: 70px;
    gap: 10px;
  }

  .link_menu a{
    font-size: 1.4rem;
  }
  

  h1,.titulo_pie h2{  /* idem para usar el titulo en el foter y no repetir codigo */
    font-size: 3.5rem;
  }
  
  .titulo h2{
    font-size: 45px;
  }
  .texto_presentacion{
    font-size: 1.4rem;
  }

  
  #wave,.wave{
    display: none;
 }

  .contenedor_tarjetas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.contenedor_software {
    width: 700px;
    height: 200px;

  }
  

  /******** media queries**************/

  @media screen and (min-width:1094px) {
  .texto_presentacion::after {
      padding-left: 450px;
  }
  #wave,.wave{
    display: none;
  }

  }



  /************* QUIENES_SOMOS.HTML************/

  .contenedor_somos {
    height: 700px;
  }
  .titulo_somos h1{
    width: 100%;
    font-size: 2.7rem;
    padding: 0px;
    position: relative;
    left: 40px;
  }
  

.tarjetas_somos, .tarjetas_hacemos{
  flex-direction: row;
  height: 400px;
}



/**********QUE_HACEMOS.HTML ***********/
/**********************************************/

.item_objetivo h3, .item_metodologia h3, .item_desarrollo h3, .item_mantenimiento h3{
    font-size: 2.5rem;
}

.item_objetivo p, .item_metodologia p, .item_desarrollo p, .item_mantenimiento p{
  font-size: 3rem;
}



/***************QUIENES_SOMOS.HTML ***********/
/*****************************************************/
  .titulo_hacemos p{
    font-size: 2rem;
  }
html, .tarjetas_hacemos, .menu{
    height: 800px;
    width: 1440px;
    margin:0 auto;
    object-fit: cover;
}


.item_objetivo p, .item_metodologia p, .item_desarrollo p, .item_mantenimiento p{
  font-size: 1.5rem;
}

.item_objetivo, .item_metodologia, .item_desarrollo, .item_mantenimiento {
  display: flex;
  align-items: center;
  height: 600px;
  justify-content: center;
}