

*{
  scroll-behavior: smooth; /* transicion suave*/
  font-family: "Roboto", sans-serif;
  font-style: normal;
}




/* header*/
/*imagen generada con leonardo IA*/

html{
  width: 100%;
}
body{
  background-color: var(--color-body);


}

.hero{
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(45deg, #85ffbe75 0%, #fffb7d6a 100%)
  , url(../assets/imagenes/trabajando.jpg);
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  
}

/*header logo*/

.logo{
  width: 40%;
  height: 94%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.logo img{
    position: relative;
    width: 60%;
  
}

/*header- nav*/

#menu {
  width: 100dvw;
  height: 60px;
  background-color: var(--color-secundario);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  top:0;
  z-index: 100;
  
}


.icon_menu{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  cursor: pointer;

}
.fa-solid{
  color:  var(--color-principal);
}


.link_menu {
  display: none;
  height: 150px;
  text-align:left;
}


.link_menu a, .nav_pie a{   /*mismo cursor para el footer*/
  text-decoration: none;
  color:  var(--color-principal);
  cursor: url(../assets/imagenes/cursor.png), auto;
  font-family: var(font-titulos);
  font-weight: 400;
}

  
#menu:target .link_menu  {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-secundario) ;
  align-items: stretch;

}

.cerrar {
  display:none;
}

#menu:target .cerrar{
  display:block;
}

#menu:target .abrir{
  display:none;
  
}

ul {
  font-size: 1.5rem;
}

li{
  border-bottom: 1px solid var(--color-principal);
  border-top: 1px solid var(--color-principal);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;


}

.titulo{
  width: 100%; 
  height: 150vh;
  display: flex;
  flex-direction: column;

}
/**********************ANIMACION DEL H1 ****************************/
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/*
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


h1{  
  text-align: left;
  font-size: 2.8rem;
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 30px;
  color: var(--color-principal);
  filter: drop-shadow(5px 5px 5px #defa10);
}

.titulo h2{
  font-family: var(--font-titulos);
  font-weight: 900;
  font-style: normal;
  color: var(--color-principal);
  font-size: 30px;
  text-align: left;
  padding-left: 30px ;
  filter: drop-shadow(5px 5px 5px #defb08);
}

.titulo, p{
  transform: translateX(-50px);
  text-align: center;
  padding: 0 5px;
  transform: translateY(90px);

}
.texto_presentacion{
  font-family: var(--font-parrafos);
  color: var(--color-parrafo-hero);
  font-weight: 900;
  font-size: 1.2rem;
}

.texto_presentacion::after{
  content:url(../assets/imagenes/texto_presentacion_liderazgo.png) ;
  display:block;
  padding-top: 150px;
  color: var(--color-principal);
  filter: drop-shadow(5px 10px 5px #defb08);
}

/*main -  section*/

.contenedor_uno{
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding-top: 0;
  opacity: 0.9;
  background: linear-gradient(135deg, #444cf755 25%, transparent 25%) -26px 0/ 52px 52px, linear-gradient(225deg, #444df77c 25%, transparent 25%) -26px 0/ 52px 52px, linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 52px 52px, linear-gradient(45deg, #444cf7 25%, #041665 25%) 0px 0/ 52px 52px;
  
}
.contenido1{
  width: 100%;
  height: 250px;
  position: relative;
  top: 28px;
} 

.contenido2{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;

}

 .contenido1 video{
  height: 220px;
  padding-left: 45px;
}

/*imagen sobre video*/

.img_superpuesta{
  width: 90px;
  height: 80px;
  position: absolute;
  top: 70px;
  left: 100px;
}


 .contenido2 h3{
  width: 80%;
  background: var(--color-body);
  border-radius: 5px;
  color: var(--color-parrafo-hero);
  padding: 10px;
  font-size: 1rem;
  font-family: var(--font-parrafos);
 }

/*section patos, dedicado al profe Juli*/

.animacion_patos{
  width: 100%;
  height: 100px;
  display: flex;
  margin: 2rem auto;
  overflow: hidden;
  position: relative;
  cursor: pointer;

}

.contenedor_pato {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  left: 0;
  position: absolute;
  top: 0;

}
/*contenedor vacio para generar espacio entre contenedore*/
.texto_nulo_imagen{
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}

.contenedor_pato:hover .texto_nulo_imagen{
  transform: translateX(-100%);
  transition: 5s all;
  
}

 /*   section de las card*/

 .contenedor_tarjetas{
   width: 100%;
   display:flex;
   flex-direction: column;
   margin-top: 30px;
   margin-bottom: 30px;
  
 }

 .contenedor_software{
  width: 100%;
  height: 300px;
  text-align: center;
  padding: 30px;
  background: linear-gradient(45deg, #85ffbe99 0%, #fffb7dbf 100%);
  border: 5px solid var(--color-principal);
}

.icono_texto{
  width: 100%;
  display: flex;
  margin: auto;
  position:relative;

}

.icono_texto img{
  width: 40px;
  height: 40px;
  margin: auto;
  position: absolute;
  top: 40px;

}
.contenedor_software h2{
  font-size: 2rem;
  font-family: var(--font-titulos);
  margin-top: 40px;
  color: var(--color-principal)
}

.contenedor_software p{
  font-size: 1.5rem;
  font-family: var(--font-parrafos);
  font-weight: 800;
  margin-top: -80px;
  color:var(--color-parrafos-cont);
  text-align: justify;
}

/*************************** footer  ***********************************/

.pie{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-pie-cont);
 
}
.contenedor_pie{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;

}

.contenedor_nav_cont{
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
}

.caja_navegacion, .caja_contacto{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 5px;

}

.nav_titulo h3, .cont_titulo h3 {
 width: 100%;
 height: 30px;
 font-size: 1.5rem;
 font-family: var(--font-titulos);
 color: var(--color-parrafo-hero);
 
}

.nav_pie{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
}

.contacto{
 display: flex;
 width: 80%;
 height: 40px;
 margin-top: 10px;
 padding-top: 5px;
 padding-left: 25px;
 background-color: var(--color-secundario);
 border-radius: 10px;
 
}

.contacto a{
  width: 80%;
}

.ubicacion{
  width: 90%;
  height: 100px;
}
.ubicacion img{
  width: 50%;
  position:relative;
  top: 10px;
  left: 25px;

}
.nav_pie a , .contacto a {
  text-decoration: none;
  font-size: 1.3rem;
  font-family: var(--font-parrafos);
  font-weight: 700;
  color: var(--color-parrafo-hero);
}

.contenedor_redes{
  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.sociales_pie{
  width: 80%;
  height: 40%;
  display: flex;
  border-radius: 15px;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  background: var(--color-fondo-redes);

}
.sociales_pie a{
color: var(--color-parrafo-hero);
font-family: var(--font-parrafos);
font-weight: 700;
font-size: 2rem;
}

.titulo{
  width: 100%;
  height: 100px;
}

.titulo_pie h2 {
  text-align: center;
  font-size: 2.8rem;
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-principal);
  filter: drop-shadow(5px 5px 5px #defa10);
}


/**********media queries 320px*********/
/************************************/



@media screen and (min-width: 320px) {
 
  .logo img {
    position: relative;
    width: 80%;
}  
  h1{
    font-size: 2rem;
  }

  .titulo h2, .titulo_pie h2{
    font-size: 1.5rem;
}
.titulo p{
  font-size: 0.9rem;
  height: 600px;
}

.texto_presentacion::after{
  
  padding-top: 20px;
}

.contenido1{
  height: 200px;
  top: -40px;
  right: 20px;
}

}
.contenido1 video{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  
  
}
.contenido2{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;

}


.contenido2{
  padding-left: 5px;
}
.contenido2 h3{
  font-size: 0.9rem;
  height: 90px;
}

.animacion_patos, .contenedor_pato img{
  height: 40px;
 
}
.contenedor_software h2{
  font-size: 1.5rem;
}
.contenedor_software p{
  font-size: 0.9rem;
  padding-left: 10px;
  padding-right: 10px;
}
.icono_texto img {
  width: 35px;
  height: 35px;
}

.caja_navegacion, .caja_contacto{
  padding-left: 1px;
}

.nav_titulo h3, .cont_titulo h3 {
  font-size: 1.3rem;
  
}
.nav_pie{
  align-items: center;
}
.nav_pie a, .contacto a {
  font-size: 1rem; 
}

.sociales_pie{
  height: 60%;
  display: flex;
}

/**************media queries 425px***********/
/***********************************************/
@media screen and (min-width: 320px){
  .logo img {
    width: 60%;
}  

.pie{
  height: 400px;
}

.contenedor_redes{
  height: 90px;
}

.img_superpuesta{
  left: 200px;
}
.contenedor_redes{
  height: 70px;
}
.titulo_pie h2{
 font-size: 2rem;
}
}

/************** QUIENES_SOMOS.HTML*************************/
/****************************************************/
/*SE COMPARTEN ALGUNOS ESTILOS*/

/*****************QUE_HACEMOS.HTML*********/
/***************************************/
/*****************SUMATE.HTML*************/
/**********************************************/



.contenedor_somos, .que_hacemos,.contenedor_sumate{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 40px;
}

.tarjetas_somos, .tarjetas_hacemos{
  width: 80%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  background:linear-gradient(45deg, #85ffbef0 0%, #fffb7dfc 100%);
  padding-top: 5px;
  padding-right: 2%;
  padding-bottom: 5%;
  padding-left: 2%;
  margin-left: 25px;
  box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.286);
  border-radius: 10%;
  gap:10px
}

  
.item_software, .item_responsive, .item_seo, .item_objetivo, .item_metodologia, .item_desarrollo, .item_mantenimiento{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(../assets/imagenes/fondo_tarjetas_somos.png);
  background-attachment:fixed;
  background-position:center;
  background-size: 100px;
  background-repeat: no-repeat;
}

.item_software h3, .item_responsive h3, .item_seo h3, .item_objetivo h3, .item_metodologia h3, .item_desarrollo h3, .item_mantenimiento h3, .nuestra_ubicacion h3{ 
  height:30px;
  font-size: 1.5rem;
  font-family: var(--font-titulos);
  color: var(--color-principal);
  margin-top: 20px;
  text-align: center
}

.item_software p, .item_responsive p, .item_seo p, .titulo_hacemos p, .item_objetivo p, .item_metodologia p, .item_desarrollo p, .item_mantenimiento p{
  padding-bottom: 0px;
  font-size: 1rem;
  font-family: var(--font-parrafos);
  font-weight: 800;
  color: var(--color-parrafos-cont);
  text-align: justify;
}

/*****************QUE_HACEMOS.HTML*********/
/***************************************/

.titulo_hacemos {
  width: 100%;
  height: 350px; 
  display: flex;
  flex-direction: column;

}
 .titulo_hacemos h1, .titulo_sumate h1{
  align-self: center;
 }





/**********media queries 320px*********/
/************************************/

@media screen and (max-width: 320px) {
  .tarjetas_somos{
    height: 80%;
}
.item_software h3, .item_responsive h3, .item_seo h3{
  height: 20px;
  font-size: 1.4rem;
 
}

.item_software p, .item_responsive p, .item_seo p{

  font-size: 0.9rem;
}
}


/*********** SUMATE.HTML***************/
/************* UBICACION.HTML************/

.contenedor_sumate{
    width: 100%;
   
    align-items: center;
    background-image: url(../assets/imagenes/backg_sumate1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    
}
.titulo_sumate{
  margin-top: 30px;
  height: 100px;

}

.titulo_sumate h3, .texto_ubicacion h3{
  height: 100px;
  font-size: 1.5rem;
  font-family: var(--font-titulos);
  color:var(--color-principal);
  text-align: center
}


/**********************FORMULARIO***************/

.formulario_sumate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:linear-gradient(45deg, #85ffbebe 0%, #fffb7de1 100%);
  padding: 5px;
}

.formulario_sumate {
  color: var(--color-principal);
  font-family: var(--font-titulos);
}

.formulario{ 
  width: 85dvw;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 15px;
}



.form__label {
  font-size: 20px;
  font-family: var(--font-parrafos);
  margin-bottom: 5px;
  color: var(--color-principal);
}



.form__input {
  height: 5dvh;
  margin-bottom: 10px;
  color: var(color-parrafos-cont);
  background-color: var(--color-body);
  border: none;
}

.form__textarea {
  resize: none;
  margin-bottom: 10px;
  background-color: var(--color-body);
}

.form__button {
  width: 25dvw;
  height: 7dvh;
  font-family: var(--font-titulos);
  background-color: var(--color-secundario);
  border: none;
  border-radius: 5px;
  align-self: center;
  cursor: pointer;
  transition: background-color 2s ease;
}




/*********************UBICACION.HTML*************/

.nuestra_ubicacion {
width: 100%;
height: 600px;
}

.texto_ubicacion{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.texto_ubicacion h3 {
  width: 100%;
  height: 80px;
  font-family: var(--font-titulos);
  position: relative;
  top: 50px
}
.texto_ubicacion p {
  width: 100%;
  height: 80px;
  font-family: var(--font-parrafos);
  font-weight: 800;
  position: relative;
  bottom: 100px;
  font-size: 1rem;
  color: var(--color-parrafos-cont);
}


.texto_ubicacion img{
  width: 100px;
  
}
.mapa iframe{
  height: 250px;
}



