
h1,.titulo_pie h2{  /* idem para usar el titulo en el foter y no repetir codigo */
  font-size: 3.5rem;
}

.titulo h2{
  font-size: 3rem;
 
}

.titulo p{
  font-size: 2rem;
}

.texto_presentacion::after {
  padding-left: 80px;
  padding-top: 150px;
}

.contenedor_uno{
  height: 650px;
}

.contenido1{
  height: 300px;
  bottom: 40px;

} 

 .contenido1 video{
 
  width: 100%;
  height: 100%;
  object-fit: cover;
 }

 .img_superpuesta{
  width: 120px;
  height: 120px;
  top: 90px;
  left: 350px;
}

 .contenido2 {
  width: 100%;
  height: 150px;
  top: 100px
 
}
.contenido2 h3{
  width: 90%;
  height: 90%;
  text-align: center;
  font-size: 1.5rem;
}

.animacion_patos{
  height: 150px;
}
.contenedor_patos{
  height: 100%;
}
.contenedor_pato img {
  height: 100px;
}

.contenedor_tarjetas{
  height: 2000px;
}


.icono_texto img {
  width: 50px;
  height: 50px;
}
.contenedor_software h2 {
  font-size: 2rem;
}

.contenedor_software p {
  font-size: 1.5rem;
  
}

.pie{
  height: 500px;
}
.contenedor_nav_cont{
  height: 300px;
}

.nav_titulo h3, .cont_titulo h3 {
  font-size: 2rem;
}

.nav_pie{
  flex-wrap: wrap;
  align-content: flex-start;
}
.nav_pie a, .contacto a {
  font-size: 1.5rem;
}
.contacto{
  align-items: center;
  align-content: center;
  height: 60px;

}


.caja_contacto{
  gap:20px;
}

/**********QUIENES_SOMOS.HTML*************/
/****************************************/
/***********Comparten algunos estilos****/
/********QUE_HACEMOS.HTML************/


.titulo_somos, .titulo_hacemos {
padding: 20px;
}

.contenedor_somos {
  flex-wrap: wrap;
  align-items: center;
}

.item_software h3, .item_responsive h3, .item_seo h3{
  font-size: 1.9rem;
}
.item_software p, .item_responsive p, .item_seo p{
  font-size: 1rem;

}

/********* QUE_HACEMOS.HTML*********/

.tarjetas_hacemos{
   margin-left: 70px;
}

/************UBICACION.HTML************/
/***************************************/

.nuestra_ubicacion iframe{
  padding: 40px;
}